<!-- Viewing Question State -->
<div class="p-8 flex justify-center flex-col items-center">
  <!-- Slider Input -->
  <div class="w-full max-w-md mt-6">
    <input
      type="range"
      min="1"
      max="5"
      step="1"
      [(ngModel)]="selectedOptionIndex"
      class="w-full accent-blue-500"
    />
    <!-- Labels below the slider -->
    <div class="flex justify-between text-sm mt-2">
      <span *ngFor="let option of options; let i = index">{{
        option.text
      }}</span>
    </div>
  </div>

  <!-- Submit Button -->
  <groupee-button
    [action]="submitAnswer.bind(this)"
    [disabled]="!selectedOptionIndex"
    [text]="'Submit'"
    icon="send"
    [type]="'normal'"
    color="green"
    class="mt-4"
  ></groupee-button>
</div>
