<!-- Viewing Question State -->
<div
  class="p-8 flex justify-center flex-col items-center w-full h-full gap-8 motion-preset-pop"
>
  <!-- Slider Input -->
  <div class="w-full max-w-md mt-6 h-full flex justify-end gap-12">
    <!-- Labels below the slider -->
    <div class="flex flex-col justify-between text-sm text-end">
      <span
        *ngFor="let option of options; let i = index"
        class="text-xl"
        [ngClass]="{
          'font-bold motion-preset-pulse motion-loop-once':
            option.id === selectedOptionIndex
        }"
        >{{ option.text }}</span
      >
    </div>
    <input
      type="range"
      orient="vertical"
      min="1"
      max="5"
      step="1"
      [(ngModel)]="selectedOptionIndex"
      class="bg-gradient-to-t from-t-green to-t-orange rounded-lg appearance-none cursor-pointer active:motion-preset-stretch-sm motion-duration-2000"
      style="--thumb-color: #6c5ce7; --thumb-active-color: #2b1f7d"
    />
  </div>

  <!-- Submit Button -->
  <groupee-button
    [action]="submitAnswer.bind(this)"
    [text]="'Submit'"
    icon="send"
    [type]="'normal'"
    color="green"
    class="mt-4"
  ></groupee-button>
</div>
