<div>
  <!-- <div *ngIf="!!model.standardQuestions()[model.session.currentQuestionIndex()]"> -->
  <div
    *ngIf="
      this.model.session.client.participantState() ===
      ParticipantStateTypes.ViewingQuestion
    "
    class="p-8 flex justify-center flex-col items-center"
  >
    <h2 class="text-t-dark font-bold text-xl text-center">
      {{
        model.standardQuestions()[model.session.currentQuestionIndex()].title
      }}
    </h2>
    <app-radio
      [options]="
        model.standardQuestions()[model.session.currentQuestionIndex()].options
      "
      [selectedOptionIndex]="selectedOption"
      (optionSelected)="clickedAnswer($event)"
    ></app-radio>
  </div>

  <!-- Waiting for the host to proceed to the next question -->
  <div
    *ngIf="
      this.model.session.client.participantState() ===
      ParticipantStateTypes.WaitingForNextQuestion
    "
  >
    <div
      *ngIf="
        this.model.session.currentQuestionIndex() >=
        this.model.standardQuestions().length - 1
      "
    >
      <h2>The system is analyzing the data..</h2>
    </div>
    <div
      *ngIf="
        this.model.session.currentQuestionIndex() <
        this.model.standardQuestions().length - 1
      "
    >
      <h2>Please wait for the next question...</h2>
    </div>
  </div>
</div>
