<div
  (click)="action()"
  (mouseenter)="changeHover(true)"
  (mouseleave)="changeHover(false)"
  class="cursor-pointer shadow-sm flex justify-center items-center gap-2 py-2 text-white rounded-2xl transform hover:scale-105 active:scale-95 transition duration-300 ease-in-out brightness-100"
  [ngClass]="{
    'w-36 p-2 justify-center font-bold': type === 'small' || type === 'normal',
    'w-72 p-2 px-4 justify-between font-normal': type === 'wide',
    'bg-t-orange hover:bg-t-orange-hover active:bg-t-orange-active':
    color === 'orange',
    'bg-t-green hover:bg-t-green-hover active:bg-t-green-active':
    color === 'green',
    '!bg-t-dark !pointer-events-none opacity-75': disabled,
  }"
>
  <mat-icon
    style="overflow: visible !important"
    *ngIf="icon && type === 'small'"
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="{{ icon }}"
    class="mat-icon-outlined transition overflow-visible"
    [ngStyle]="{
      'text-shadow': hover ? '1px 0px 10px rgba(255, 255, 255, .50)' : 'none'
    }"
  ></mat-icon>
  <span
    [ngStyle]="{
      'text-shadow': hover ? '1px 1px 7px rgba(255, 255, 255, .50)' : 'none'
    }"
    >{{ text }}</span
  >
  <mat-icon
    style="overflow: visible !important"
    *ngIf="(icon && type === 'wide') || (icon && type === 'normal')"
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="{{ icon }}"
    class="mat-icon-outlined transition overflow-visible"
    [ngStyle]="{
      'text-shadow': hover ? '1px 0px 10px rgba(255, 255, 255, .50)' : 'none'
    }"
  ></mat-icon>
</div>
