<div>
  <!-- Message indicating groups have been created successfully -->
  <p class="text-lg font-semibold mb-4">Groups Created Successfully!</p>

  
  <!-- Check if groups exist -->
  <div *ngIf="groups && groups.length > 0; else noGroups">
    <!-- Container to arrange groups in rows, wrapping when necessary -->
    <div class="flex flex-wrap justify-center">
      <!-- Loop through each group -->
      <div
        *ngFor="let group of groups"
        class="bg-t-orange rounded-lg p-4 m-4 w-64 flex-shrink-0"
      >
        <!-- Group name -->
        <h3 class="text-xl font-bold mb-4 text-white text-center">
          Group {{ group.name }}
        </h3>
        <!-- List of participants -->
        <ul class="list-none">
          <li
            *ngFor="let participant of group.participants"
            class="py-1 text-white text-center"
          >
            {{ participant.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Button to download groups as an Excel file -->

  <groupee-button
    [color]="'green'"
    [type]="'wide'"
    [icon]="'download'"
    [text]="'Generate Excel Report'"
    [action]="generateReport.bind(this)"
  ></groupee-button>

  <groupee-button
    [color]="'red'"
    [type]="'wide'"
    [icon]="'arrow_back'"
    [text]="'Back to skillTree'"
    [action]="toTree.bind(this)"
  ></groupee-button>

  <!-- Message if no groups are found -->
  <ng-template #noGroups>
    <p>No groups found.</p>
  </ng-template>
</div>