<!-- Navbar -->
<app-navbar
  class="w-full lg:sticky z-[9999] flex justify-center top-0 motion-preset-bounce motion-delay-500"
></app-navbar>
<!-- JSON Uploader -->
<!-- <app-json-uploader class="w-full flex justify-center mt-4"></app-json-uploader> -->
<!-- Section 1 -->
<div id="section1" class="h-screen flex items-center justify-center px-4">
  <!-- Groupee Description -->
  <div class="flex flex-col justify-center items-center w-full gap-10 mb-40">
    <div class="flex flex-col gap-4 items-center">
      <div
        class="font-extrabold text-center text-6xl md:text-7xl lg:text-8xl motion-preset-shake"
      >
        Groupee
      </div>
      <div
        class="font-light text-2xl md:text-3xl lg:text-4xl motion-preset-typewriter-[17] motion-duration-[5000ms]"
      >
        <span class="text-t-orange">Unite</span> Your
        <span class="text-t-green">Skills</span>
      </div>
    </div>
    <p
      class="text-center text-sm md:text-base lg:text-lg px-4 lg:px-8 md:w-2/3 lg:w-1/3"
    >
      Groupee is a smart application that groups students in classrooms based on
      their personalities and skills. By creating balanced teams, it helps
      students complement each other’s strengths and work more effectively
      together. Whether for projects or class activities, Groupee ensures
      dynamic groupings that foster collaboration and enhance learning.
    </p>
  </div>
  <!-- Scroll Button -->
  <button
    (click)="scrollToSection('section2')"
    class="absolute md:bottom-6 bottom-2 left-1/2 transform -translate-x-1/2 px-4 py-2"
  >
    <div
      class="flex flex-col items-center mt-6 motion-preset-fade-lg motion-delay-1000"
    >
      <span class="text-md font-medium animate-bounce">Scroll</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-6 h-6 animate-bounce"
      >
        <path d="M12 16l-4-4h8z"></path>
      </svg>
    </div>
  </button>

  <div class="absolute top-1/2 right-0 transform -translate-y-1/2 wallpaper">
    <img
      src="assets/images/wallpaper.jpg"
      alt="skilltree"
      class="object-cover w-[450px] rounded-2xl"
    />
    <img
      src="assets/images/skilltree_new.png"
      alt="skilltree"
      class="w-48 h-48 absolute -top-24 -left-24 object-cover animate-spin-slow"
    />
  </div>
</div>

<!-- Section 2 -->
<div
  id="section2"
  class="lg:h-screen py-10 bg-t-dark flex items-center justify-center px-4"
>
  <div class="flex flex-col gap-8 items-center">
    <div
      class="w-full md:w-2/3 lg:w-1/2 flex flex-col items-center gap-2 text-center"
    >
      <span class="font-bold text-t-light text-2xl md:text-3xl lg:text-4xl"
        >Who are you?</span
      >
      <div class="text-t-light text-sm md:text-base">
        Choose your role - Hosts can create the Groups and Participants will be
        part of a Group.
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-8 md:gap-16 lg:mt-8">
      <!-- Professor Button -->
      <button (click)="navigateToHostSettings()">
        <div
          class="relative lg:w-72 lg:h-72 md:w-[360px] md:h-[360px] w-44 h-44 cursor-pointer hover:scale-110 transition-all group"
        >
          <img
            src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2J0c3MxeHdkeDFvNzZtamo0OTY3aGJlYjg5Z25scGlkZjdtcnN5NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RSnbPf5osSUKMdzwog/giphy.webp"
            class="w-full h-full object-cover rounded-2xl"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-20 flex flex-col items-center justify-center rounded-2xl"
          >
            <span
              class="text-white text-xl md:text-2xl font-semibold transition-colors duration-300 group-hover:text-t-orange"
              >Host</span
            >
            <div
              class="text-white text-center text-sm md:text-md mt-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
            >
              Create Session
            </div>
          </div>
        </div>
      </button>

      <!-- Student Button -->
      <button (click)="navigateToClientCode()">
        <div
          class="relative lg:w-72 lg:h-72 md:w-[360px] md:h-[360px] w-44 h-44 cursor-pointer hover:scale-110 transition-all group"
        >
          <img
            src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMW9kdW9pdzJqOGtoMTJ0bWpnMTkyOWNzNGtsOXF2Z2tuaG1qaTM5YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JU6TzB6O9QCju/giphy.webp"
            class="w-full h-full object-cover rounded-2xl"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-30 flex flex-col items-center justify-center rounded-2xl"
          >
            <span
              class="text-white text-xl md:text-2xl font-semibold transition-colors duration-300 group-hover:text-t-green"
              >Participant
            </span>
            <div
              class="text-white text-center text-sm md:text-md mt-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
            >
              Join Session
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<!-- Footer -->
<div
  class="bg-t-dark text-white mx-4 lg:mx-12 md:my-20 my-4 px-6 pt-10 pb-4 rounded-3xl"
>
  <div
    class="md:flex md:flex-row grid grid-cols-2 justify-evenly gap-10 md:gap-28 md:mb-28"
  >
    <!-- Get Started Section -->
    <div>
      <h3 class="text-t-orange font-semibold mb-4">Get Started</h3>
      <ul>
        <li class="hover:underline mb-2"><a href="#">Host a Session</a></li>
        <li class="hover:underline"><a href="#">Join a Session</a></li>
      </ul>
    </div>

    <!-- Groupee Section -->
    <div>
      <h3 class="text-t-orange font-semibold mb-4">Groupee</h3>
      <ul>
        <li class="hover:underline mb-2"><a href="#">Contact</a></li>
        <li class="hover:underline"><a href="#">About us</a></li>
      </ul>
    </div>

    <!-- Social Section -->
    <div>
      <h3 class="text-t-orange font-semibold mb-4">Social</h3>
      <div class="flex items-center space-x-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="#ffffff"
        >
          <path d="M12 16l-4-4h8z"></path>
        </svg>
        <a href="#" class="hover:underline">LinkedIn</a>
      </div>
    </div>

    <!-- Legal Section -->
    <div>
      <h3 class="text-t-orange font-semibold mb-4">Legal</h3>
      <ul>
        <li class="hover:underline mb-2"><a href="#">Terms & Conditions</a></li>
        <li class="hover:underline"><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div
    class="flex flex-col md:flex-row justify-between items-center mt-10 text-xs"
  >
    <div class="font-bold text-lg text-t-light">GROUPEE</div>
    <div class="text-t-light">© 2023 Groupee FI</div>
  </div>
</div>
