<div class="w-full h-full flex flex-col justify-around justify-self-center">
  <div class="p-6 flex flex-col w-2/3">
    <div class="flex justify-between w-full">
      <div class="bg-t-dark p-4 mb-4">
        <h2 class="text-white text-2xl mb-2">Number of groups</h2>
        <input
          type="text"
          class="w-full p-2 mb-2 border border-gray-300 rounded"
          placeholder="Enter number of groups"
        />
      </div>
      <div class="bg-t-dark p-4 mb-4">
        <h2 class="text-white text-2xl mb-2">Number of people</h2>
        <input
          type="text"
          class="w-full p-2 mb-2 border border-gray-300 rounded"
          placeholder="Enter number of people"
        />
      </div>
    </div>
    <div class="flex justify-end">
      <button class="bg-t-green text-white p-2 rounded">Publish</button>
    </div>
  </div>
</div>
