<div
  class="w-full h-full flex flex-col justify-center items-center self-center text-center"
>
  <h1 class="font-extrabold text-6xl text-t-orange">GROUPEE</h1>
  <div class="mt-12 flex flex-col">
    <!-- <div class="w-72 text-wrap">
      connected to room
      <span class="font-bold">{{ model.session.roomId() }}</span>
    </div> -->
    <span class="">Enter a username!</span>
    <input
      type="text"
      placeholder="Name"
      class="mt-2 p-4 w-72 rounded-2xl py-2 border-[.5px] border-unactive text-lg transition-transform duration-500 ease-in-out transform"
      [(ngModel)]="userName"
    />
  </div>
  <div class="mt-5">
    <groupee-button
      [action]="joinRoom.bind(this)"
      [disabled]="!userName"
      [color]="'green'"
      [type]="'wide'"
      [icon]="'arrow_circle_right'"
      [text]="'Join Session'"
    />
    <!-- <button
      [disabled]="!userName"
      (click)="joinRoom()"
      class="px-5 py-2 text-lg bg-t-green text-white border-none cursor-pointer"
    >
      Continue
    </button> -->
  </div>
</div>
