<div>
  <h2>The questionnaire has finished.</h2>
  <h3>Participants' Results:</h3>
  <ul>
    <li *ngFor="let participant of model.session.participants()">
      {{ participant.name }}:
      <ul>
        <li>Element 1: {{ participant.cumulativeResult.element1 }}</li>
        <li>Element 2: {{ participant.cumulativeResult.element2 }}</li>
        <li>Element 3: {{ participant.cumulativeResult.element3 }}</li>
        <li>Element 4: {{ participant.cumulativeResult.element4 }}</li>
        <li>Element 5: {{ participant.cumulativeResult.element5 }}</li>
      </ul>
    </li>
  </ul>
</div>
