<div
  *ngIf="
    !!model.session.online() && model.session.currentPhase() === 'questions'
  "
>
  <h3>
    Question
    {{ model.session.currentQuestionIndex() + 1 }}:
  </h3>
  <p>
    {{ model.standardQuestions()[model.session.currentQuestionIndex()].title }}
  </p>
  <ul>
    <li
      *ngFor="
        let option of model.standardQuestions()[
          model.session.currentQuestionIndex()
        ]?.options
      "
    >
      {{ option?.text ? option?.text : option }}
    </li>
  </ul>
  <button
    *ngIf="this.model.session.currentPhase() == 'questions'"
    (click)="nextQuestion()"
  >
    Next Question
  </button>
</div>
